/Pdf.WinForms.csproj
/Pdf.WinForms.csproj.user
/Pdf.WinForms20.csproj
/Pdf.WinForms30.csproj
/Pdf.WinForms35.csproj
/Pdf.WinForms40.csproj
/Pdf.WinForms45.csproj
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/Patagames.Pdf.Net.Controls.WinForms.PdfViewer.resources
/obj/Debug/Patagames.Pdf.Net.Controls.WinForms.Properties.Error.resources
/obj/Debug/Patagamse.Pdf.WinForms.dll
/obj/Debug/Patagamse.Pdf.WinForms.pdb
/obj/Debug/Pdf.WinForms.csproj.FileListAbsolute.txt
/obj/Debug/Pdf.WinForms.csproj.GenerateResource.Cache
/obj/Debug/Pdf.WinForms.csprojResolveAssemblyReference.cache
/obj/Debug/Pdf.WinForms20.csproj.FileListAbsolute.txt
/obj/Debug/Pdf.WinForms20.csproj.GenerateResource.Cache
/obj/Debug/Pdf.WinForms20.csprojResolveAssemblyReference.cache
/obj/Debug/TempPE/Properties.Error.Designer.cs.dll
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/build.force
/obj/Publish/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Publish/Patagames.Pdf.Net.Controls.WinForms.PdfViewer.resources
/obj/Publish/Patagames.Pdf.Net.Controls.WinForms.Properties.Error.resources
/obj/Publish/Patagamse.Pdf.WinForms.dll
/obj/Publish/Patagamse.Pdf.WinForms.pdb
/obj/Publish/Pdf.WinForms20.csproj.FileListAbsolute.txt
/obj/Publish/Pdf.WinForms20.csproj.GenerateResource.Cache
/obj/Publish/Pdf.WinForms20.csprojResolveAssemblyReference.cache
/obj/Publish/Pdf.WinForms30.csproj.FileListAbsolute.txt
/obj/Publish/Pdf.WinForms30.csproj.GenerateResource.Cache
/obj/Publish/Pdf.WinForms30.csprojResolveAssemblyReference.cache
/obj/Publish/Pdf.WinForms35.csproj.FileListAbsolute.txt
/obj/Publish/Pdf.WinForms35.csproj.GenerateResource.Cache
/obj/Publish/Pdf.WinForms35.csprojResolveAssemblyReference.cache
/obj/Publish/Pdf.WinForms40.csproj.FileListAbsolute.txt
/obj/Publish/Pdf.WinForms40.csproj.GenerateResource.Cache
/obj/Publish/Pdf.WinForms40.csprojResolveAssemblyReference.cache
/obj/Publish/Pdf.WinForms45.csproj.FileListAbsolute.txt
/obj/Publish/Pdf.WinForms45.csproj.GenerateResource.Cache
/obj/Publish/Pdf.WinForms45.csprojResolveAssemblyReference.cache
/obj/Publish/TempPE/Properties.Error.Designer.cs.dll
/obj/Publish/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Publish/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Publish/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Publish/build.force
/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Release/Patagames.Pdf.Net.Controls.WinForms.PdfViewer.resources
/obj/Release/Patagames.Pdf.Net.Controls.WinForms.Properties.Error.resources
/obj/Release/Patagamse.Pdf.WinForms.dll
/obj/Release/Patagamse.Pdf.WinForms.pdb
/obj/Release/Pdf.WinForms.csproj.FileListAbsolute.txt
/obj/Release/Pdf.WinForms.csproj.GenerateResource.Cache
/obj/Release/Pdf.WinForms.csprojResolveAssemblyReference.cache
/obj/Release/TempPE/Properties.Error.Designer.cs.dll
/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
